---
---
{% assign localPage = page.path | split: "/" | last %}
{% include fragment-modelType.html type='{{[type]}}' id='{{[id]}}' lang="{{[lang]}}" %}
{% assign format = page.path | split: '.html'| first | split: '.' | last %}
<!-- layouts\layout-profile-format -->
{% if format == 'xml' %}
{% assign section = '7' %}
{% elsif format == 'json' %}
{% assign section = '8' %}
{% else %}
{% assign section = '9' %}
{% endif %}

{% include fragment-pagebegin.html lang="{{[lang]}}" %}
<div style="counter-reset: section {{section}}" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-profile-navtabs.html type='{{[type]}}' id='{{[id]}}' active=format lang="{{[lang]}}" %}

<a name="root"> </a>
{% assign formatUpper = format | upcase %}
{% assign respath = site.data.resources[resource_].path %}
<h2 id="root">{{modelType}}: {{site.data.pages[respath].titlelang['{{[lang]}}'] | escape_once}} - 
{% if modelType == site.data.stringsBase['{{[lang]}}']['ResourceModel'] %}
{{site.data.stringsBase['{{[lang]}}']['FormatResource'] | replace: "%FMT%", formatUpper}}
{% else %}
{{site.data.stringsBase['{{[lang]}}']['FormatProfile'] | replace: "%FMT%", formatUpper}}
{% endif %}
</h2>
{% include fragment-simpletable.html lang="{{[lang]}}" %}

{% assign modelLower = modelType | downcase %}
<p>{{site.data.stringsBase['{{[lang]}}']['FormatRep'] | replace: "%FMT%", formatUpper | replace: "%ID%", "{{[id]}}" | replace: "%TYPE%", modelLower}}</p>

<p><a href="{{[type]}}-{{[id]}}.{{format}}" no-download="true">Raw {{format}}</a> | <a href="{{[type]}}-{{[id]}}.{{format}}" download>Download</a></p>

  <!-- insert intro if present -->
  {% include fragment-intro.html type='{{[type]}}' id='{{[id]}}' lang="{{[lang]}}" %}

  {% include StructureDefinition-{{[id]}}-{{format}}-html{{[langsuffix]}}.xhtml %}

  <!-- insert notes if present -->
  {% include fragment-notes.html type='{{[type]}}' id='{{[id]}}' lang="{{[lang]}}" %}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html lang="{{[lang]}}" %}
