---
---
{% assign localPage = page.path | split: "/" | last %}
{% include fragment-modelType.html type='{{[type]}}' id='{{[id]}}' lang="{{[lang]}}" %}
{% include fragment-pagebegin.html lang="{{[lang]}}" %}
<!-- layouts\layout-examplescenario -->
<div class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-base-navtabs.html type='{{[type]}}' id='{{[id]}}' active='content' lang="{{[lang]}}" %}
  <a name="root"> </a>

{% assign respath = site.data.resources[resource_].path %}
  <h2 id="root">{{modelType}}: {{site.data.pages[respath].titlelang['{{[lang]}}'] | escape_once}}
{% if site.data.resources[resource_].experimental == true %}({{site.data.stringsBase['{{[lang]}}']['Experimental']}}){% endif %}
  </h2>

{% include fragment-resourceTable.html lang="{{[lang]}}" %}

{%if site.data.resources[resource_].description %}
<p>
{{site.data.resources[resource_].descriptionlang['{{[lang]}}']|markdownify}}
</p>
{% endif %}
{%if site.data.resources[resource_].purpose %}
<p>
{{site.data.resources[resource_].purposelang['{{[lang]}}']|markdownify}}
</p>
{% endif %}
  <!-- insert intro if present -->
  {% include fragment-intro.html type='{{[type]}}' id='{{[id]}}' lang="{{[lang]}}" %}

<a name="actors"> </a>
<h4>{{site.data.stringsBase['{{[lang]}}']['Actors']}}</h4>
  {% include {{[type]}}-{{[id]}}-actor-table{{[langsuffix]}}.xhtml %}

<a name="diagram"> </a>
<h4>{{site.data.stringsBase['{{[lang]}}']['Diagram']}}</h4>
  {% include {{[type]}}-{{[id]}}-process-diagram{{[langsuffix]}}.xhtml %}

<a name="processes"> </a>
<h4>{{site.data.stringsBase['{{[lang]}}']['Processes']}}</h4>
  {% include {{[type]}}-{{[id]}}-processes{{[langsuffix]}}.xhtml %}

<a name="instances"> </a>
<h4>{{site.data.stringsBase['{{[lang]}}']['Instances']}}</h4>
  {% include {{[type]}}-{{[id]}}-instance-table{{[langsuffix]}}.xhtml %}

  <!-- insert notes if present -->
  {% include fragment-notes.html type='{{[type]}}' id='{{[id]}}' lang="{{[lang]}}" %}

  {% include {{[type]}}-{{[id]}}-history{{[langsuffix]}}.xhtml %}

</div>
{% include fragment-pageend.html lang="{{[lang]}}" %}
