        </div>  <!-- /inner-wrapper -->
      </div>  <!-- /row -->
    </div>  <!-- /container -->
  </div>  <!-- /segment-content -->

  <script type="text/javascript" src="{{site.data.info.assets}}assets/js/jquery.js"> </script>     <!-- note keep space here, otherwise it will be transformed to empty tag -> fails -->
  <script type="text/javascript" src="{{site.data.info.assets}}assets/js/jquery-ui.min.js"> </script>
  <script type="text/javascript" src="{{site.data.info.assets}}assets/js/flags.js"> </script>
{% if includetabscripts %}
  <script type="text/javascript" src="{{site.data.info.assets}}assets/js/tabs.js"> </script>
{% endif %}
  <script type="text/javascript" src="{{site.data.info.assets}}assets/js/window-hash.js"> </script>
  <script type="text/javascript" src="{{site.data.info.assets}}assets/js/togglechanges.js"> </script>
  <script type="text/javascript" src="{{site.data.info.assets}}assets/js/requirements-table.js"> </script>
  <a name="bottom"> </a>
  <div id="segment-footer" igtool="footer" class="segment">  <!-- segment-footer -->
    <div class="container" data-fhir="generated">  <!-- container -->
{% if shownav == 'y' %}
      <div style="background-color:var(--footer-nav-bg-color)">
        <table style="width:100%">
          <tbody>
            <tr>
              <td style="text-align:var(--ig-left);">&#xA0;
{% if site.data.pages[localPage].previous %}
                <a href="{{site.data.pages[localPage].previous}}">{{site.data.stringsBase[include.lang]['PrevPage'] | escape_once}}</a>
{% else %}
                <span style="visibility:hidden">{{site.data.stringsBase[include.lang]['PrevPage'] | escape_once}}</span>
{% endif %}
              </td>
              <td style="text-align:center">
                <a href="#top">{{site.data.stringsBase[include.lang]['PageTop']}}</a>
              </td>
              <td style="text-align:var(--ig-right);">&#xA0;
{% if site.data.pages[localPage].next %}
                <a href="{{site.data.pages[localPage].next}}">{{site.data.stringsBase[include.lang]['NextPage']}}</a>
{% else %}
                <span style="visibility:hidden">{{site.data.stringsBase[include.lang]['NextPage']}}</span>
{% endif %}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
{% endif %}
      <div class="inner-wrapper">
        <p>
{% capture pkg %}{{site.data.fhir.packageId}}#{{site.data.fhir.igVer}}{% endcapture %}
{% capture fhirver %}<a style="color: var(--footer-hyperlink-text-color)" href="{{site.data.fhir.path}}">FHIR {{site.data.fhir.version}}</a>{% endcapture %}
{% capture gendate %}
  <span title="{{ site.data.fhir.genDate | date: "%Y-%m-%d %H:%M:%S %z" }}">
    {{ site.data.fhir.genDate | date: "%Y-%m-%d" }}
  </span>
{% endcapture %}
          {{site.data.stringsBase[include.lang]['IGCopyright'] | replace: "%YEAR%", site.data.info.copyrightyear}} <a style="color:var(--footer-hyperlink-text-color)" href="{{site.data.fhir.ig.contact[0].telecom[0]}}">{{site.data.fhir.ig.publisher | escape}}</a>.  
          {{site.data.stringsBase[include.lang]['IGPackage'] | replace: "%PKG%", pkg | replace: "%FHIRVER%", fhirver}}
          {{site.data.stringsBase[include.lang]['GeneratedDate'] | replace: "%DATE%", gendate}}
          <br/>
          <span style="color: var(--footer-highlight-text-color)">
            {% include fragment-footer.html lang=include.lang %}
          </span>
        </p>
      </div>  <!-- /inner-wrapper -->
    </div>  <!-- /container -->
  </div>  <!-- /segment-footer -->
  
  <div id="segment-post-footer" class="segment hidden">  <!-- segment-post-footer -->
    <div class="container">  <!-- container -->
    </div>  <!-- /container -->
  </div>  <!-- /segment-post-footer -->

  <!-- JS and analytics only. -->
  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script type="text/javascript" src="{{site.data.info.assets}}assets/js/bootstrap.min.js"> </script>
  <script type="text/javascript" src="{{site.data.info.assets}}assets/js/respond.min.js"> </script>
  <script type="text/javascript" src="{{site.data.info.assets}}assets/js/anchor.min.js"> </script>
  <script type="text/javascript" src="assets/js/clipboard.min.js"> </script>
  <script type="text/javascript" src="assets/js/clipboard-btn.js"> </script>
  <script type="text/javascript" src="{{site.data.info.assets}}assets/js/anchor-hover.js"> </script>
  <!-- Analytics Below
  ================================================== -->
  </body>
</html>
