{% if site.data.resources[resource_].status.status or site.data.resources[resource_].status.standards-status %}
  <table class="{{site.data.resources[resource_].status.class}}" data-fhir="generated">
    <tr>
{% if site.data.resources[resource_].status.fmm %}
  {% assign colspan = 1 %}
{% else %}
  {% assign colspan = 2 %}
{% endif %}
      <td colspan="{{colspan}}">
        {% if site.data.resources[resource_].status.standards-status %}
          <i>{{site.data.stringsBase[include.lang]['PageStandardsStatus']}}:</i> <a href="{{site.data.fhir.path}}versions.html#std-process" title="{{site.data.stringsBase[include.lang]['StandardsStatus']}}">{{site.data.resources[resource_].status.standards-status|capitalize}}</a>
          {% if site.data.resources[resource_].status.normativeVersion %}
            ({{site.data.stringsBase[include.lang]['FromNormative'] | replace: "%NORMVER%", site.data.pages[localPage].normativeVersion}})
          {% endif %}
        {% else %}
          {{site.data.resources[resource_].status.status}}
          {% if site.data.resources[resource_].date %}
{% capture resourcedate %}
{{site.data.resources[resource_].date | date: "%Y-%m-%d"}}
{% endcapture %}
            {{site.data.stringsBase[include.lang]['ResourceDate'] | replace: "%RESDATE%", resourcedate}}
          {% endif %}
        {% endif %}
      </td>
{% if site.data.resources[resource_].status.fmm %}
      <td>
        <a href="{{site.data.info.fmm-definition}}">{{site.data.stringsBase[include.lang]['MaturityLevel']}}</a>: {{site.data.resources[resource_].status.fmm}}
        {% if site.data.resources[resource_].status.fmmSource %}
          <span title="{{site.data.resources[resource_].status.fmmSource}}">*</span>
        {% endif %}
      </td>
{% endif %}
    </tr>
  </table>
{% endif %}